/*footer*/

footer{
    background-color: #2a2a2a;
    color: white;
   
}
footer a{
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
a:hover{
    color: #0b9fda;
    text-decoration: none;
  }
  
  

  
  button {
    background-color:   #0aaff1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 3%;
    

  }
 