@font-face {
    font-family: 'BrutalType-Regular';
    src: url('source/font/BrutalType-Regular.ttf');
}
@font-face {
font-family: 'ExtraLight';
    src: url('source/font/BrutalType-ExtraLight.ttf');
}
@font-face {
    font-family: 'Medium';
    src: url('source/font/BrutalType-Medium.ttf');
    }
@font-face {
    font-family: 'Black';
    src: url('source/font/BrutalType-Black.ttf');
    }
@font-face {
    font-family: 'Bold';
    src: url('source/font/BrutalType-Bold.ttf');
    }
@font-face {
    font-family: 'light';
    src: url('source/font/BrutalType-Light.ttf');
    }
@font-face {
    font-family: 'Eurostar';
    src: url('source/font/eurostarblackextended.ttf');
    }
    

*{
    font-family: 'BrutalType-Regular';
    color: white;
}

h1{
    font-family: 'Medium';
    color: white;
    font-weight: bold;
}

h3{
    font-family: 'Medium';
    color: white;
    font-weight: bold;
}

h2{
    font-family: 'ExtraLight';
    color: white;    
}

h5{
    font-family: 'Black';
    color: white;    
}

h5:hover{
    color:#cecece;
    text-shadow:4px 4px 8px black;
}


.b1{
    color:#cecece;
    cursor: pointer;

}
.b1:hover{
    color: white;
}
p{
    font-size: 17px;
}

.button-wrapper{
    width:200px;
    height:50px;
    font-size:16px;
    display:block;
    text-align: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-family: 'BrutalType-Regular';
  }

.button1{
    background-color: #0aaff1;
}
.button1:hover,.button3:hover {
    background-color:#0996CC;
    color: white;
} 

.button2{
    background-color: none;
    color:#0aaff1;
}
.button2:hover {
    color:#0996CC;
}

.v1{
    background-color: none;
    color:gray;
    font-size:16px;
    text-align: left;
}

i:hover, .v1:hover{
    color:white;
}
#alink{
    font-family: 'BrutalType-Regular';
    color:#0996CC;
    font-size: 17px; 
}
#alink:hover {
    opacity: 0.75;
}

.info {
    border-color: #1e9ed3;
    color: white;
    width:200px;
    height:40px;
    font-size:18px;
    display:block;
    text-align: center;
    border-radius: 2px;
    border-width: 2px;
    cursor: pointer;
  }

.info1 {
    border-color: #1e9ed3;
    color: white;
    width:255px;
    height:50px;
    font-size:large;
    display:block;
    text-align: center;
    border-radius: 2px;
    border-width: 2px;
    cursor: pointer;
    font-family: 'BrutalType-Regular';
  }
  
.info:hover,.info1:hover {
    background: #2196F3;
    color: white;
  }

.button3 {
    background-color:  #0aaff1;
    color: white;
    width:60px;
    height:30px;
    font-size:13px;
    cursor: pointer;
    font-family: 'BrutalType-Regular';
    display: flex;
  justify-content: center;
  align-items: center;
  }

.button5 {
    background-color:  #51aa8f;
    color: white;
    width:80px;
    height:30px;
    font-size:13px;
    cursor: pointer;
    font-family: 'BrutalType-Regular';
    display: flex;
  justify-content: center;
  align-items: center;
  }

.button4 {
    background-color:  lightgray;
    color: black;
    width:auto;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'light';
  }

.button4:hover{
    background: gray;
    color: black;
  }
  
blockquote{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 45px;
    margin-right: 40px;
    padding: 15px;
    
}

blockquote p {
    margin-left: 10%;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.507), rgba(96, 96, 96, 0.637), rgba(0, 0, 0, 0.75));
}
.content {
    position: absolute;
    padding-top: 5%;
    background: rgba(0, 0, 0, 0.5);
    height: 500;
}

.content-text {
    width: 58%;
    margin-left: 11%;
}

#BgVideo1 {
    height: 500;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
}

#BgVideo2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
}

.intro {
    color: white;
}

.text-box1 {
    text-align: center;
    text-align: justify-center;
    width: 85%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 6%;
}

.text-box2 {
    padding: 7%;
    padding-right: 8.5%;
}

.text-box3 {
    text-align: center;
    height: auto;
    padding: 8%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.text-box4 {
    display: block;
    margin-top: 2%;
    margin-bottom: 5%;
}

.text-box5 {
    background-color: #232323;
    padding: 3%;
    margin: 1%;
    border-radius: 3% 3% 3% 3%;
}

.text-box6 {
    background-color: #232323;
    padding: 5%;
    width: 350px;
    height: 300px;
}

img {
    max-width: 100%;
}

.main {
    background-color: #111111;
}

.image {
    padding: 3%;
    margin-top: 3%;
}

.parent {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;

    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.child:before {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%;}
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.image-box-Bg-1 {
    background-repeat: no-repeat;
    background: url("source\\img\\Unreal+Engine_industry_automotive-transportation_Auto_CourtesyDaimlerProtics_1920x1080-1920x1080-62c3e283e04cd6ba32588dfaa5b94c218882c974.jpg") center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 50px black inset;
}
.image-box-Bg-2 {
    background-repeat: no-repeat;
    background: url("source\\img\\Unreal+Engine_industry_automotive-transportation_Auto_Courtesy_NeutralDigital_AirCanada1920x1080-1920x1080-81cb79fdb2dd0ced47b5388080e24fce0f784dc2.jpg") center center;
    background-size: cover;
    box-shadow: inset 10px 10px 50px black;
}

.image-box-Bg-3 {
    background-repeat: no-repeat;
    background: url("source\\img\\Unreal+Engine_industry_automotive-transportation_Auto_CourtesyofAltSpace_img1-1920x1080-4e1fee244407f91d1cc5ed163779ed7c575ce0ce.png") center center;
    background-size: cover;
    box-shadow: inset 10px 10px 50px black;
}

.image-box {
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 2%;
}

.p1{
    opacity: 0;
    font-size: 14px;
}

.p1:hover{
    opacity:0.8;
    transition: 0.6s;
    transform: translate3d(0, 10%, 0);
  
}

/* navbar*/
@font-face {
  
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.ttf');
  }
  
  @font-face {
    
    font-family: 'eurostar';
    src: url('eurostarblackextended.ttf');
  }
  
  body{
    background-color: #111111;
    font-family: 'Open Sans';
  }
  
  a{
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: lighter;
    color: #ffffff !important;
    opacity: 0.75;
    
  }
  
  a:hover{
    opacity: 1;
  }
  
  #epic {
    width: 30px;
    margin-left: 1%;
  }
  
  #unr{
    width: 240px;
    margin-left: 2%;
  }
  
  nav{
    height: 55px;
  }
  
  .navbar-brand {
    font-family: 'eurostar';
    color: #ffffff;
    text-shadow: 1px 1px #a8a8a8;
    font-size: 20px;
    margin-left: 2%;
  }
  
  .navbar .navbar-nav .nav-item .navbar-collapse{
    background-color: #2A2A2A !important;
    
  }
  
  @media only screen and (max-width: 1190px) {
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.7em;
    }
    .navbar {
      padding: 0;
    }
    .navbar .navbar-brand {
      padding: 0 0.7em;
    }
  }
  .navbar .navbar-nav .nav-link {
    position: relative;
    margin-left: 1.5vw;
  }
  .nav-link::after {
    position: absolute;
    bottom: -10;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #42AFF2;
    width: 100%;
    height: 0px;
    content: '';
    
  }
  
  .nav-link:hover::after {
    height: 5px;
    transition: 0.25s;
    transition-timing-function: ease-out, ease-in-out;
  }
  
  .dropdown-toggle::after {
    display: inline-block;
    border-top: 0;
    content: "";
  }
  
  .dropdown .dropdown-item .dropdown-menu{
    width: 50px;
    top: 30px;
    border: transparent;
    border-radius: 0;
    display: block;
  }
  
  .dropdown:hover .dropdown-menu{
    top: 35px;
    background-color: #2A2A2A;
    color: #ffffff;
    line-height: 170%;
    font-weight: lighter;
    border: transparent;
    border-radius: 0;
    display: block;
  
  }
  
  .dropdown-item:hover{
    background-color: #2A2A2A;
    color: #ffffff;
    border: transparent;
    display: block;
  }
  
  .dropdown-item:hover::before{
    background-color: #2A2A2A;
    color: #ffffff;
    border: transparent;
    display: block;
  }
  
  #right{
    position: absolute;
    right: 0;
    float: right;
  }
  
  #blue{
    position: relative;
    background-color: #42AFF2;
    color: #ffffff;
    border-radius: 0;
    font-size: 11px;
    height: 55px;
    width: 130px;
    float: right;
  }
  
  
  .btn-secondary{
    background-color: transparent;
    font-size: 11px;
    height: 55px;
    width: 130px;
    border: transparent;
    border-radius: 0;
    position: relative;
  }
  
  .btn-secondary2{
    background-color: transparent;
    font-size: 11px;
    height: 55px;
    width: 30px;
    border: transparent;
    border-radius: 0;
    position: relative;
  }
  
  .btn-secondary:hover{
    background-color: transparent;
    font-size: 11px;
    height: 55px;
    width: 130px;
    border: transparent;
    border-radius: 0;
    position: relative;
  }

  
/*footer*/

footer{
    background-color: #2a2a2a;
    color: white;
   
}
footer a{
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
a:hover{
    color: #0b9fda;
    text-decoration: none;
  }
  
  

  
  button {
    background-color:   #0aaff1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 3%;
    

  }
 