@font-face {
    font-family: 'BrutalType-Regular';
    src: url('source/font/BrutalType-Regular.ttf');
}
@font-face {
font-family: 'ExtraLight';
    src: url('source/font/BrutalType-ExtraLight.ttf');
}
@font-face {
    font-family: 'Medium';
    src: url('source/font/BrutalType-Medium.ttf');
    }
@font-face {
    font-family: 'Black';
    src: url('source/font/BrutalType-Black.ttf');
    }
@font-face {
    font-family: 'Bold';
    src: url('source/font/BrutalType-Bold.ttf');
    }
@font-face {
    font-family: 'Eurostar';
    src: url('source/font/eurostarblackextended.ttf');
    }
    

*{
    font-family: 'BrutalType-Regular';
    color:#f5f5f5;
}

h1,h2{
    font-family: 'Medium';
    color:#f5f5f5;
}

.col-md-10, .col-md-6, .col-md-5, .col-md-2, .col-md-1{
    background-color: #111111;
}

.navbar {
    background-color: #2a2a2a;
    height: 6.99%;

}

.nav-item,
.dropdown-item {
    font-family: 'Eurostar';
    color: #C6C6C6;
    margin-left: 3.5%;
    font-size: 10px;
}

.navbar-brand {
    font-family: 'Eurostar';
    color: #fefefe;
    text-shadow: 1px #c1c1c1;
    font-size: 19px;
    margin-left: 3%;
    font-weight: bold;
}

.nav-link{
    font-family: 'BrutalType-Regular';
    letter-spacing: 1.5px;
    color: #C6C6C6;
    font-size: 11px;
}

.dropdown-toggle::after {
    display:none;
}

#epic {
    width: 2%;
}

source {
    width: auto;
}

#myVideo {
    width: 100%;
    height: 100%;
}
.logo {
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: center;
}
.bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 6.99%;
    color: #f1f1f1;
    width: 100%;
    height: 113%;
}
.text {
    width: 55%;
    left: 10%;
    position: absolute;
    top: 50%;
    color: #f1f1f1;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open .dropdown-toggle.btn-outline-primary {
    background-color: #42AFF2 !important;
}


.btn-group{
    width: 86%;
    height: 13%;
    left: 7%;
    position: absolute;
    top: 89%;
    border-radius: 0.2em;
    background-color:rgba(14, 14, 14, 0.8);
    box-shadow: 5px 5px 10px rgba(8, 8, 8, 0.9)
}

.btn{
    width: 12%;  
    color: #ffffff; 
    font-size: medium;
}

.button-wrapper{
    width:140px;
    height:50px;
    font-size:large;
    display:block;
    text-align: center;
    border: 2px solid #0aaff1;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

#home1{
    margin-top: 7%;
    margin-left: 1%;
    width: 100%;
}

#h1{
    margin-top: 9%;
    margin-left: 7%;
    color: white;
}

#para1{
    margin-top: 3%;
    margin-left: 7%;
    color: white;
    font-size: 17px;
}

#seefea1{
    width: 40%;
    margin-left: 7%;
}

#home2{
    margin-top: 12%;
    margin-right: 1%;
    width: 100%;
}

#h2{
    margin-top: 15%;
    margin-right: 1%;
    color: white;
}

#para2{
    margin-top: 3%;
    margin-right: 1%;
    color: white;
    font-size: 17px;
}

#seefea2{
    width: 40%;
}

.col-md-10{
    padding-top: 8%;
}

#banner1{
    width: 100%;
}

.text1 {
    width: 55%;
    left: 10%;
    top: 50%;
    color: #ffffff;
    position: absolute;
}

#banner2{
    margin-top: 4%;
    width: 100%;
    
}

.text2 {
    width: 80%;
    top: 10%;
    color: #ffffff;
    margin-left: 7%;
    text-align: center;
    position: absolute;
}

.b1{
    background-color: #42AFF2; 
    width: 40%;
    text-align: center;
}

.b2{
    background-color: #0aaff1;
    width: 50%;
    text-align: center;
}

.b3{
    background-color: #0aaff1; 
    width: 30%;
    text-align: center;
}

.b2:hover,.b1:hover, .b3:hover{
    background-color:#0996CC;
    color: white;
}

#seenew{
    width: 100%;
    margin-top: 30%;
    margin-bottom: 30%;
    border: 2px solid #42AFF2;
    color: white;
    text-align: center;
}